.filter-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;

}
    
.filter-title{
    
    width: 100%;
    padding: 0.5em;
    font-size: 2em;
    background-color: black;
    text-transform: uppercase;
    height: 10vh;
    color: #fccb00;
}

.obras-container{
    width: 100%;
    display: flex;
    
}