.container{
    width: 100%;
    background-color: #000000;
    padding: 1em;
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.logo-container{
    height: 100px;
    width: 220px; 
    margin: 0.5em;

}

.menu-button{
    color: #fccb00;
    height: 100%;
    width: 35px;
    display: none;
    cursor: pointer;
    user-select: none;
}

.menu-button:active{
    color: #fcca006b;
}


.iconButton-container{
    height: 70px;
    z-index: 98;
}
.menu-container{
    margin-top: 0.5em;
}

.categoriesList{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.categories{
    color: #fccb00;
    margin: 0 .5em;
    user-select: none;
    cursor: pointer;
    
} 

@media screen and (max-width:480px) {
    .menu-button{
        display: flex;
    }
    .menu-container{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    .menu-container.isActive{
        height: 20vh;
        opacity: 1;
    }
    .categoriesList{
        flex-direction: column;
    }
    .categories{
        margin: .5em 0;
    }
    
}
